.card-login{
    width: 33%;
    margin: 150px auto;
}
.text-register{
    margin-left: 40%;
    font-size: 18px;
}

@media screen and (max-width:570px){
    .card-login{
        width: 66%;
    }
    .text-register{
        margin-left: 28%;
    }
}