.container-detail{
    background-color: grey;
    width: 100%;
}
.card-detail{
    background-color: gainsboro;
    width: 95%;
    margin: auto;
}
.img-detail{
    height: 300px;
    width: 55%;
    margin: auto;
    margin-top: 10px;
}
.description-detail::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif ;
    color:red
}
.description-detail{
    font-family: 'Times New Roman', Times, serif ;
    line-height: 25px;
    font-size: 18px;
}
.publish-detail{
    margin-left: 1030px;
}

@media screen and (max-width:600px){
    .publish-detail{
        margin-left: 225px;
    }
}